@model DemoApplication.Areas.Client.ViewModels.Account.UpdatePasswordViewModel
    <!-- Single Tab Content Start -->
<div class="tab-pane col-lg-9" id="account-info" role="tabpanel">
    <div class="myaccount-content">
        <div class="account-details-form">
            <form asp-route="client-account-change-password" >
                <div class="row">
                    <div class="col-12  mb--30">
                        <h4>Password change</h4>
                    </div>
                    <div class="col-12  mb--30">
                        <label asp-for="CurrentPassword">CurrentPassword</label>
                                <input asp-for="CurrentPassword" class="mb-0 form-control" id="email" placeholder="CurrentPassword">
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12  mb--30">
                        <label asp-for="Password">Password</label>
                                <input asp-for="Password" class="mb-0 form-control" id="email" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12  mb--30">
                         <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                <input asp-for="ConfirmPassword" class="mb-0 form-control" id="email" placeholder="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Single Tab Content End -->
