@model DemoApplication.Areas.Client.ViewModels.Account.Address.UpdateAddressViewModel

<div class="col-lg-9 col-12 mt--30 mt-lg--0">
    <div class="myaccount-content">
        <h3>Account Details</h3>
        <div class="account-details-form">
            <form method="post" asp-route="client-account-update-address">
                <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                <div class="row">
                    <div class="col-12  mb--30">
                        <h4>Add Addres</h4>
                    </div>
                    <div class="col-12  mb--30">
                        <label asp-for="AcceptorFirstName"></label>
                        <input asp-for="AcceptorFirstName" class="form-control">
                        <span asp-validation-for="AcceptorFirstName" class="text-danger"></span>
                    </div>

                    <div class="col-lg-6 col-12  mb--30">
                     <label asp-for="AcceptorLastName"></label>
                        <input asp-for="AcceptorLastName" class="form-control">
                        <span asp-validation-for="AcceptorLastName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12  mb--30">
                        <label asp-for="AddressName"></label>
                        <input asp-for="AddressName" class="form-control">
                        <span asp-validation-for="AddressName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12  mb--30">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button class="btn btn--primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>